body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* .tile-image {
  height: 200px;
  width: 300px;
}

.left {
  float:left;
}

.right {
  float: right;
}



.card {
  flex-direction: column;
}

.cards {
  display: grid;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
} */

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.tile-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.creative {
  color: rgb(21, 21, 161);
}
